.custom-navbar {
    background-color: rgba(255, 255, 255, 0.5); /* More translucent background */
  }
  
  .branding-link {
    color: black;
    text-decoration: none; /* Ensure the link has no underline */
  }
  
  .admin-btn {
    background-color: #f7b093;
    border: none; /* Remove border if you want a cleaner button look */
  }
  